<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Lista de Organizadores</title>
</head>
<body>
    <h1>Lista de Organizadores</h1>
    <ul>
        {% for organizador in organizadores %}
            <li>{{ organizador.nombre }}</li>
        {% empty %}
            <li>No hay organizadores disponibles.</li>
        {% endfor %}
    </ul>
    <a href="{% url 'organizador_create' %}">Crear Nuevo Organizador</a> |
    <a href="{% url 'lista_eventos' %}">Ir a la Lista de Eventos</a> 
</body>
</html>